.main {
    display: flex; /* This is already set */
    justify-content: space-between; /* This aligns the left and right divs to opposite ends of the container */
    height: 100vh;
    width: 100%; /* Optional: Makes the container fill the height of the viewport */
}

.left-home, .right-home {
    width: 50%; /* Make sure each child occupies half of the parent container */
}

.text{
    position: absolute;
    top: 2200px;
}
.our-team-section{
    position: absolute;
    top: 2800px;
    left: 250px;
}

.contact-us{
    display: flex; /* This is already set */
    justify-content: space-between; /* This aligns the left and right divs to opposite ends of the container */
    width: 100%;
    position: absolute;
    top: 2900px;
    
}
.left-contact, .right-contact{
    width: 50%;
    padding-bottom: 50px;
}
.right-contact{
    position: absolute;
    top: 300px;
    right: 0;
}
/* .left-contact{
    background-color: blue;
} */